<div>
<div class="row actionMenu" >
			<div class="col-sm-3">
	        <section class="smart-form">
	                <label class="input"> <i class="icon-append fa fa-search"></i>
	                  <input type="text" name="Search" ng-model="Search" placeholder="Search" id="Search" minlength="3"></label>
	        </section>
			</div>
			<div class="col-sm-9">
				<div class="row">
                    <div class="col-md-6 col-sm-5 col-xs-6">
                        <div class="row">
                              <div class="check-icon-group col-md-6" >
                                    <span data-js-promp;t="&amp;#xe05b;" data-icon="&#xe05b;" aria-hidden="true" class="check-icon active"></span> 
                                    Functional Test
                                </div>
                              <div class="check-icon-group col-md-6">
                                <span data-js-prompt="&amp;#xe007;" data-icon="&#xe007;" aria-hidden="true" class="check-icon"></span> 
							    Performance Test
                              </div>
                        </div>
                    </div>
				    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="row">
                              <div class="col-md-6 smart-form">
                                    <label class="checkbox teal-color">
                                        <input type="checkbox" name="checkbox" checked="">
                                        <i ></i>Ready</label>
                                </div> 
                              <div class="col-md-6 smart-form">
                                    <label class="checkbox amber-color">
                                        <input type="checkbox" name="checkbox" checked="">
                                        <i></i>Running</label>
                                </div>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-4 col-xs-12">
                            <button type="submit" class="btn btn-primary pull-right"  data-container="body" data-html="true" data-toggle="modal" data-target="#createProject" ng-click="new_project()">New Project</button>
                    </div>
						<!-- <button type="submit" class="btn new-project pull-right" ng-click="new_project();" style="color: white;">New Project</button> -->
					</div>
			</div>
		</div>
 <!-- Model Start -->
				    <div class="modal fade" id="createProject" role="dialog">
					    <div class="modal-dialog">
					    
					      <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Create Project</h4>
					        </div>
					        <div class="modal-body">
					          <div class="row">
					          	<div class="col-sm-12">
					          		<div class="col-sm-4">
					          			Project Name
					          		</div>
					          		<div class="col-sm-8">
					          			<div class="form-group">
					          				<input class="form-control" type="text" ng-model="project.projectName">
					          			</div>
					          		</div>
					          	</div>
					          	<div class="col-sm-12">
					          		<div class="col-sm-4">
					          			Project Type
					          		</div>
					          		<div class="col-sm-8">
					          			<div class="row">
					          				<div class="col-sm-12">
					          					<div class="col-sm-6">
					          						<div class="smart-form" >
												          <label class="radio state-success">
												            <input type="radio" name="project_type" value="functional" checked="" ng-click="chooseFunctionalType($event)"><i></i>Functional
												          </label>
												        </div>
					          					</div>
					          					<div class="col-sm-6">
					          						<div class="smart-form" >
												          <label class="radio state-success">
												            <input type="radio" name="project_type" value="performance" ng-click="choosePerformanceType($event)"><i></i>Performance
												          </label>
												        </div>
					          					</div>
					          				</div>
					          			</div>
					          		</div>
					          	</div>
					          	
					          </div>
					        </div>
					        <div class="modal-footer">
					        	<div class="row">
					        		<div class="col-sm-12">
					        			<div class="col-sm-4">
					        			</div>
					        			<div class="col-sm-8">
					        				<div class="row">
					        					<div class="col-sm-12">
					        						<button type="button" class="btn btn-primary pull-left" ng-click="clickSaveProject();">Save</button>
						        					<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
						        					</div>
					        				</div>
					        				
					        			</div>
					        		</div>
					        	</div>
					        </div>
					      </div>
					      
					    </div>
					  </div>
                    <!-- Model End -->
	<div class="row project-lists">
		<div class="col-sm-12">
			<div class="row">
			<div class="col-md-3 col-sm-4" ng-repeat="i in [1,2,3,4,6,3] track by $index" 
         data-toggle="popover" data-content="
					<div class='row content-pop'>
						<div class='col-sm-12 name-popover'>
                            <div class='row'>
							<div class='col-sm-6'>
								<span class='proj-id'>#18</span>
							</div>
							<div class='col-sm-6' style='text-align: right;'>
								<span data-js-prompt='&amp;#xe007;' data-icon='&#xe007;' aria-hidden='true' class='proj-type'></span>
								Functional Test
							</div>
                             </div>
						</div>
						<div class='col-sm-12 description'>
                            <div class='row'>
							<div class='col-sm-12 proj-name'>
								When I go out, I lock every other one. I figure no matter how long somebody stands there picking the locks, they are always locking three.Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
							</div>
                            </div>
						</div>
						<div class='col-sm-12 project-properties'>
                            <div class='row'>
							<div class='col-sm-6'>
								<div class='blur-name'>TEST SUITES</div>
                                <div class='statistic-number'>10</div>
							</div>
							<div class='col-sm-6'>
								<div class='blur-name'>LAST RUNNING</div>
                                <div class='statistic-number'>01/05/2015 22:30</div>
							</div>
                           </div>
						</div>
						<div class='col-sm-12 project-properties'>
                            <div class='row'>
							<div class='col-sm-6'>
								
								<div class='blur-name'>TEST CASES</div>
								<div class='statistic-number'>145</div>
							</div>
							<div class='col-sm-6'>
								<a href='#' class='btn-border-line'>Report</a>
							</div>
                           </div>
						</div>
						<div class='col-sm-12 card-actions top-line'>
                         <div class='row'>
							<div class='col-sm-2'>
								<a class='run-project' ng-click='openProject(project)'>Open</a>
							</div>
							<div class='col-sm-3'>
								<a href='#' class='run-project'>View Log</a>
							</div>
							<div class='col-sm-7'>
								<a href='#' class='pull-right run-project'>Run</a>
							</div>
                             </div>
						</div>
					</div>
				</div>" data-original-title="" title="" close-popover ng-click="show_popover($event, i);">
			<div class="functional-project card-item ready-card">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-6"><span class="proj-id">#18</span></div>
						<div class="col-sm-6">
							<span data-js-prompt="&amp;#xe007;" data-icon="&#xe007;" aria-hidden="true" class="proj-type pull-right"></span>
						</div>
					</div>
					<div class="col-sm-12 proj-name">
						<div class="col-sm-11">
							This is Enterprise Database System. This test case is cover the front end area
						</div>
					</div>

					<div class="col-sm-12">
						<div class="top-line card-actions">
						<div class="col-sm-6">
							<span class="proj-status">Ready</span>
						</div>
						<div class="col-sm-6">
								<span class="info-project">Info</span>
								<a href="#" style="" class="run-project pull-right">Run</a>
						</div>
                        </div>
					</div>
				</div>
            </div>
                
			</div>
                
			<div close-popover class="col-md-3 col-sm-4" ng-repeat="i in [1,2,3,4,6,3] track by $index" data-toggle="popover" ng-click="show_popover($event, i);" data-content= "
					<div class='row content-pop'>
						<div class='col-sm-12 name-popover'>
                            <div class='row'>
							<div class='col-sm-6'>
								<span class='proj-id'>#18</span>
							</div>
							<div class='col-sm-6' style='text-align: right;'>
								<span data-js-prompt='&amp;#xe05b;' data-icon='&#xe05b;' aria-hidden='true' class='proj-type'></span>
								Performance Test
							</div>
                             </div>
						</div>
						<div class='col-sm-12 description'>
                            <div class='row'>
							<div class='col-sm-12 proj-name'>
								When I go out, I lock every other one. I figure no matter how long somebody stands there picking the locks, they are always locking three.Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
							</div>
                            </div>
						</div>
						<div class='col-sm-12 project-properties'>
                            <div class='row'>
							<div class='col-sm-6'>
								<div class='blur-name'>TEST SUITES</div>
                                <div class='statistic-number'>10</div>
							</div>
							<div class='col-sm-6'>
								<div class='blur-name'>LAST RUNNING</div>
                                <div class='statistic-number'>01/05/2015 22:30</div>
							</div>
                           </div>
						</div>
						<div class='col-sm-12 project-properties'>
                            <div class='row'>
							<div class='col-sm-6'>
								
								<div class='blur-name'>TEST CASES</div>
								<div class='statistic-number'>145</div>
							</div>
							<div class='col-sm-6'>
								<a href='#' class='btn-border-line'>Report</a>
							</div>
                           </div>
						</div>
						<div class='col-sm-12 card-actions top-line'>
                         <div class='row'>
							<div class='col-sm-2'>
								<a class='run-project' ng-click='openProject(project)'>Open</a>
							</div>
							<div class='col-sm-3'>
								<a href='#' class='run-project'>View Log</a>
							</div>
							<div class='col-sm-2'>
								<a href='#' class='run-project'>Watch</a>
							</div>
							<div class='col-sm-5'>
								<a href='#' class='pull-right stop-project'>Stop</a>
							</div>
                             </div>
						</div>
					</div>
				</div>">
			<div class="performance-project card-item running-card">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-6"><span class="proj-id">#16</span></div>
						<div class="col-sm-6">
							<span data-js-promp;t="&amp;#xe05b;" data-icon="&#xe05b;" aria-hidden="true" class="proj-type pull-right"></span>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="col-sm-11 proj-name">
							This is Enterprise Database System. This test case is cover the front end area
						</div>
					</div>

					<div class="col-sm-12">
						<div class="top-line card-actions">
						<div class="col-sm-6">
							<span class="proj-status">Running</span>
						</div>
						<div class="col-sm-6">
								<span class="info-project">Info</span>
								<a href="#" style="" class="stop-project pull-right">Stop</a>
						</div>
                        </div>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
