<div id="content" >   

 
    <div class="row">
      <article class="col-sm-12 col-md-12 ">
  <div  class="jarviswidget jarviswidget-sortable" >
         <header class="header-navtabs">
       		 <h2>Project Report</h2>
        </header>
</div>
    <div class="report-page row">
        <div class="col-sm-12 clearfix ds-control-bar">
            <div class="col-sm-6 ">
                <section class="col-sm-6 smart-form ds-reset-padding">
                    <label class="input"> 
                        <i class="icon-append fa fa-search"></i>
                        <input type="text" name="Search" ng-model="Search" placeholder="Search" id="Search" minlength="3">
                    </label>
                </section>
                <div class="col-sm-6">
                  <div class="form-group">
                    <select class="form-control">
                      <option selected="">Choose a test case group</option>
                    </select>
                  </div>
                </div>
            </div>
            <div class="col-sm-6 ">
                <p class="functional-title col-sm-6 ds-export-bar">
                    Export to:
                    <i class="fa fa-file-word-o"></i>
                    <span>word</span>
                    <i class="fa fa-file-excel-o"></i>
                    <span>Excel</span>
                    <i class="fa fa-file-pdf-o"></i>
                    <span>pdf</span>
                </p>
                <button type="submit" class="btn new-project pull-right" ng-click="new_project();" style="color: white;">Back to project detail</button>
            </div>
        </div>

        <div class="col-sm-12 clearfix">
            <morris-stacked-bar-graph></morris-stacked-bar-graph>
            <div class="ds-chart-label">
                <p > 
                    <span class="ds-blue"></span>Pass 
                    <span class="ds-red"></span>
                    Fail 
                    <span class="ds-yellow"></span>
                    Skip 
                </p> 
            </div>
        </div>

        <div class="clearfix ds-table ">
            <div class="col-sm-12">
                <table class="col-sm-12">
                    <tr class="ds-table-header">
                        <td class="ds-left">Running </td>
                        <td class="ds-left">Test Suite</td>
                        <td class="ds-right">Test Case</td>
                        <td class="ds-right">Pass</td>
                        <td class="ds-right">Fail</td>
                        <td class="ds-right">Skip</td>
                        <td class="ds-center">Test Result</td>
                    </tr>
                    <tr>
                        <td class="ds-left">30/4/2015 10:19</td>
                        <td class="ds-left">Test suite 1</td>
                        <td class="ds-right">15</td>
                        <td class="ds-right">10</td>
                        <td class="ds-right">0</td>
                        <td class="ds-right">0</td>
                        <td class="ds-center"><span class="buttonStatus">Pass</span></td>
                    </tr>
                    <tr>
                        <td class="ds-left">30/4/2015 10:19</td>
                        <td class="ds-left">Test suite 1</td>
                        <td class="ds-right">15</td>
                        <td class="ds-right">10</td>
                        <td class="ds-right">0</td>
                        <td class="ds-right">0</td>
                        <td class="ds-center"><span class="errorStatus ds-error">Fail</span></td>
                    </tr>

                    <tr>
                        <td class="ds-left">30/4/2015 10:19</td>
                        <td class="ds-left">Test suite 1</td>
                        <td class="ds-right">15</td>
                        <td class="ds-right">10</td>
                        <td class="ds-right">0</td>
                        <td class="ds-right">0</td>
                        <td class="ds-center"><span class="buttonStatus">Pass</span></td>
                    </tr>
                    <tr>
                        <td class="ds-left">30/4/2015 10:19</td>
                        <td class="ds-left">Test suite 1</td>
                        <td class="ds-right">15</td>
                        <td class="ds-right">10</td>
                        <td class="ds-right">0</td>
                        <td class="ds-right">0</td>
                        <td class="ds-center"><span class="errorStatus ds-error">Fail</span></td>
                    </tr>
                    <tr>
                        <td class="ds-left">30/4/2015 10:19</td>
                        <td class="ds-left">Test suite 1</td>
                        <td class="ds-right">15</td>
                        <td class="ds-right">10</td>
                        <td class="ds-right">0</td>
                        <td class="ds-right">0</td>
                        <td class="ds-center"><span class="buttonStatus">Pass</span></td>
                    </tr>
                    <tr>
                        <td class="ds-left">30/4/2015 10:19</td>
                        <td class="ds-left">Test suite 1</td>
                        <td class="ds-right">15</td>
                        <td class="ds-right">10</td>
                        <td class="ds-right">0</td>
                        <td class="ds-right">0</td>
                        <td class="ds-center"><span class="errorStatus ds-error">Fail</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </article>
    </div>
</div>
